<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Log in",   '#' %></li>
            <li><%= link_to "Sign up",   '#' %></li>
            <li><%= link_to "Shopping Cart", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <footer class="footer">
          <nav>
            <ul>
              <li><%= link_to "About",   '/static_pages/about.html.erb' %></li>
              <li><%= link_to "Contact", '/static_pages/contact.html.erb' %></li>
              <li><a href="/app/views/static_pages/news.html.erb">News</a></li>
            </ul>
          </nav>
        </footer>
    </div>
  </body>
</html>